{% extends 'base.html' %}
{% block contents %}
<!-- 네비게이션바 -->
<nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
    <div class="container">
        <a class="navbar-brand" href="/">JWY</a>
        <button class="navbar-toggler" type="button"
                data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent"
                aria-expanded="false"
                aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto me-1 mb-2 mb-lg-0">
                <li class="nav-item">
                    {% if email %}
                    <a class="nav-link" href="/logout">{{ email }} (로그아웃)</a>
                    {% else %}
                    <a class="nav-link" href="/login">로그인</a>
                    {% endif %}
                </li>
                <li class="nav-item">
                    {% if not email %}
                    <a class="nav-link" href="/join">회원가입</a>
                    {% endif %}
                </li>
            </ul>
        </div>
    </div>
</nav>
<div class="container">
    <div class="row row-cols-1 row-cols-md-3 g-4 my-3">
        {% for good in goods %}
        <div class="col">
            <div class="card mb-3">
                <div class="embed-responsive embed-responsive-4by3">
                    <img class="card-img-top embed-responsive-item" src="{{ good.image.url }}" width="100" alt="{{ good.image.url }}" />
                </div>
                <div class="card-footer p-3">
                    <h3 class="card-title ">{{ good.name }}</h3>
                        <a class="btn btn-secondary" href="{{ good.get_absolute_url }}">구입하기 →</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}