{% extends 'base.html' %}
{% block title%}
<title>{{product.name}} 결제 성공</title>
{% endblock %}
{% block contents %}
<nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
    <div class="container">
        <a class="navbar-brand" href="/jwy">JWY</a>
        <button class="navbar-toggler" type="button"
                data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent"
                aria-expanded="false"
                aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</nav>
<div class="container my-5">
    <h2 class="mb-5">결제 성공</h2>
    <h4>상품명 : {{ name }}</h4>
    <h4 class="mb-5">상품가격 : {{price}}</h4>
    <a href="/">HOME</a>
</div>
{% endblock %}